plots/*
!plots/.gitkeep

plots/corr/*
!plots/corr/.gitkeep

plots/oddonesout/*
!plots/oddonesout/.gitkeep

plots/munigroups/*
!plots/munigroups/.gitkeep

raw/*
!raw/.gitkeep
docs/*
!docs/.gitkeep
cache/*
!cache/.gitkeep
shp/*
!shp/.gitkeep
stats/*
!stats/.gitkeep

*.py[cod]
__pycache__/*
*.swp
.mypy_cache/*

depr/*
